@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*cores principais*/
:root {
    --cinza-main: #333333;
    --cinza-claro: #f8f8f8;
    --amarelo-main: #eaa023;
}


header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--cinza-main);
    z-index: 100;
    font-size: 13px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px 15px 30px;
    box-shadow: 0px 0px 25px #0000003f;
}


.navbar a {
    text-decoration: none;
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 25px;
}

.navbar .logo:hover{
    transition-duration: 0.4s;
    filter: brightness(0) saturate(100%) invert(55%) sepia(100%) saturate(400%) hue-rotate(358deg) brightness(103%) contrast(84%);
}






body {
    height: 100vh;
    background-image: linear-gradient(to top, transparent 0%, #4747471e 0%), url('../public/img/annie-spratt-BqYttheZzUo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-content: center;
    justify-content: center;
    color: var(--cinza-main);
}


.container_form {
    position: relative;
    background-color: rgb(255, 255, 255) ;
    width: 850px;
    height: 500px;
    box-shadow: 25px 30px 55px rgba(0, 0, 0, 0.075);
    border-radius: 15px;
    overflow: hidden;
}

.login_form {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 60px 40px;
}

.login_form .h1_login {
    padding: 10px 0px 50px;
}

.cadastro_form {
    position: absolute;
    width: 60%;
    left: 40%;
    height: 100%;
    padding: 40px 40px;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
}

.form_interno {
    position: relative;
    width: 100%;
}

.login_form .form_interno{
    margin: 10px 0px;
}

.cadastro_form .form_interno{
    margin: 5px 0px;
}

input {
    width: 100%;
    padding: 12px 0px;
    border: 0;
    margin: 5px 0px;
    border-bottom: 1px solid var(--cinza-main);
    outline: none;
}


.input_icon {
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 30px;
}

.input_email {
    background-image: url('../public/icon/envelope.svg');
    background-size: 20px;
}

.input_senha {
    background-image: url(../public/icon/Lock.svg);
    background-size: 20px;
}

.input_nome {
    background-image: url(../public/icon/User.svg);
    background-size: 20px;
}

.input_telefone {
    background-image: url(../public/icon/Phone.svg);
    background-size: 15px;
}

.input_senha2 {
    background-image: url(../public/icon/Lock2.svg);
    background-size: 20px;
}




.forgot_password {
    padding-top: 10px;
    text-decoration: none;
    color: var(--cinza-main);
    font-size: small;
}

.forgot_password:hover {
    text-decoration: underline;
}

.button {
    padding: 13px 45px;
    border-radius: 15px;
    border: 2px solid transparent;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.button_cinza {
    background: var(--cinza-main);
    color: rgb(255, 255, 255);
}

.login_form .button_cinza {
    width: 50%;
    margin-top: 40px;
}

.cadastro_form .button_cinza{
    width: 50%;
    margin-top: 10px;
}

.button_branco {
    color: #ffffff;
    background-color: var(--cinza-main);
    border: 2px solid white;
}

.button_cinza:hover {
    background-color: var(--amarelo-main);
    color: var(--cinza-claro);
}

.button_branco:hover {
    background-color: rgb(255, 255, 255);
    color: var(--cinza-main);
}



.overlay_container {
    position: absolute;
    top: 0;
    left: 100%;
    width: 30%;
    height: 100%;
}

.overlay {
    position: relative;
    background-color: var(--cinza-main);
    color: white;
    height: 100%;
    width: 250%;
}

.overlay_painel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 40px;
    height: 100%;
    width: 340px;
}

.overlay_painel p {
    margin: 10px 0 60px;
}

.overlay_left {
    left: -565%;
    padding: 0 30px;
}
